body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(238, 238, 238);
}


/* Navbar */
.tgsHeader{
  background-color: rgb(219, 219, 219);
  padding: 5px 10px;
}

.tgsNav{
  padding: 10px 0;
}

.navContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 30px;
}

.logo{
  font-size: 30px;
  font-weight: bold;
  padding-left: 10px;
  /* margin-left: 10px; */
}

.logo .linkLogo {
  color: white;
  text-decoration: none;
  list-style: none;
}

.navLink{
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.navLink li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.5s ease;
}

.navLink li a:hover {
  color: orange;
}

/* Layout utama */
.containerTugas {
  max-width: 1000px;
  margin: 60px auto;
  background: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.274);
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}

/* Kolom kiri (teks dan tombol) */
.intro {
  flex: 1;
}

.intro h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.introduction {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}


/* Buat tombol dan download cv sejajar */
#makeFlex{
  display: flex;
  justify-content: start;
  gap: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Tombol contact */
.wrapper-btn {
  margin-bottom: 10px;
}

.contact-btn {
  background-color: #1e1f3b;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Tombol download CV */
.wrapper-downloadCV{
  margin-bottom: 10px;
}

.cv-btn{
  background: none;
  color: black;
  padding: 10px 25px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* Ikon sosial media */
.social-icons {
  display: flex;
  gap: 25px;
}

.social-icons a {
  font-size: 30px;
  color: black;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #696969;
}

/* Kolom kanan (card foto) */
.profile-card {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 50px rgba(0,0,0,0.1);
  text-align: center;
  width: 300px;
  flex-shrink: 0;
}

.profile-image {
  width: 300px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.profile-info h3 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.profile-info p {
  color: rgb(0, 0, 0);
  margin-top: 5px;
}


/* ===================================================
                    Unused Property
=====================================================*/
/* .tgsNav {
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative; 
  margin: 10px;
} */

/* .navContainer {
  display: flex;
  align-items: center;
  gap: 50px; 
} */

/* .logo {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  left: 10px;
} */
/* .navLink {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
} */

/* .tgsHeader {
  background-color: rgb(90, 90, 90);
  padding: 5px 10px;
} */

/* .download-cv {
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.download-cv i {
  margin-left: 8px;
} */